<!DOCTYPE html>
    {% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Sistema de enquetes capricho</title>
        <link rel="stylesheet" type="text/css" href="{% static 'enquete/style.css' %}" media="screen" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    </head>
    <header>
        <img width="20px" src="{% static 'enquete/Logo_Estrela.png' %}">
        Sistema de enquetes capricho
    </header>
    <body>
    <div>
        <ul>
            {% for option in question.alternativa_set.all %}
                <li>{{ option.descricao }} -- {{ option.votos }}</li>
            {% endfor %}
        </ul>

        <a href="{% url 'enquete:votar' question.id %}">Votar novamente?</a>
        <a href="{% url 'enquete:index' %}">Ver outras questões?</a>
    </div>

    </body>
    <footer>
        @Todos os direitos reservados - Capricho - Engenharia de Computação
    </footer>
</html>